<!DOCTYPE html>
<html lang="en">
<script src="static/lib/w3.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<div class="wrapper"> 
    
    <div class="menu" w3-include-html="../static/admin-menu.html"></div>

    <div class="content">
        <p class="log-bar">You are logged as: Admin</p>
        <h2>Home</h2>
        <div class="two-columns">
            <div class="form-labels">
                <p>First name:</p>
                <p>Last name:</p>
                <p>Phone number:</p>
                <p>Email:</p>
            </div>

            <div class="form-values">

                <p>{{ admin.getFirstName }}</p>
                <p>{{ admin.getLastName }}</p>
                <p>{{ admin.getPhoneNumber }}</p>
                <p>{{ admin.getEmail }}</p>
            </div>
        </div>
    </div>    
</div>

<script>
    w3.includeHTML();
</script>

</body>


</html>
