body {
    display: block;
    background-color:#118bd9;
}

.menu {
    /*position: fixed;*/
    /*display: inline-block;*/
    width: 20%;
    float: left;
    /*margin: 0 20px 0 0;*/
}

.content {
    position: fixed;
    left: 175px;
    display: inline-block;
    /*float: left;*/
    text-align: left;
    padding: 0 10px 0 0;
}

#menu-bar {
    /*display: inline-block;*/
    /*width:20%;*/
    /*height:100%;*/
    background-color: #333;
}

.pure-menu-heading {
    color: white;
    display: block;
}

.pure-menu-list {
    list-style-type: none;
    margin-top: 8;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}

.pure-menu-item {
    /*float: left;*/
}

.pure-menu-home {
    background-color: #4CAF50;
}

.pure-menu-logout {
    background-color: red;
}

.pure-menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.home-menu {
    background-color: aqua;
}

.pure-menu-link:hover:not(.pure-menu-selected) {
    background-color: #555;
}

.student-balance {
    text-align: center;
}

.log-bar {
    text-align: right;
    font-family: caviar;
    font-size: 14px
}

.container {
    font-family: caviar;
}

.select {
    text-align: center;
    font-family: caviar;
    top: calc(100% + 4px);
    left: -4px;
    width: calc(100% + 8px);
    list-style-type: none;
    box-sizing: border-box;
}

.student-balance {
    text-align: center;
    font-family: caviar;
    font-size: 20;
}

