<!DOCTYPE html>
<html lang="en">
<script src="../../static/lib/w3.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
</head>
<body>

<div class="wrapper">
    <div class="menu" w3-include-html="../static/mentor/mentor-menu.html"></div>

    <div class="content">
        <p class="log-bar">You are logged as Mentor</p>
        <h2>Add new Student</h2>

        <form action="/mentor/add-student" method="post">
            <input type="text" name="first" placeholder="First Name"><br><br>
            <input type="text" name="last" placeholder="Last Name"><br><br>
            <input type="text" name="phone" placeholder="Phone Number"><br><br>
            <input type="text" name="email" placeholder="Email"><br><br>
            <input type="text" name="passw" placeholder="Password"><br><br>
            <button type="submit">Save new student</button>
        </form>
    </div>
</div>
    <script>
        w3.includeHTML();
    </script>

</body>
</html>