<!DOCTYPE html>
<html lang="en">
<script src="../../static/lib/w3.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
</head>
<body>

<div class="wrapper">
    <div class="menu" w3-include-html="../static/admin-menu.html"></div>

    <div class="content">
        <p class="log-bar">You are logged as Admin</p>
        <h2>Class has been removed succesfully</h2>
    </div>
</div>
<script>
    w3.includeHTML();
</script>

</body>
</html>