<!DOCTYPE html>
<html lang="en">
<script src="../static/lib/w3.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="menu" w3-include-html="../static/admin-menu.html"></div>

    <div class="content">
        <p class="log-bar">You are logged as Admin</p>
        <h2>Edit class name:</h2>
        <form action="edit-class-finished" method="post">
            <input type="hidden" name="class" value="{{ class.getId }}"/>
            <label>Class name:&nbsp</label> <input type="text" name="name" value="{{ class.getClassName }}"/><br><br>
            <input type="submit" value="Save changes"/>
        </form>
    </div>
</div>
<script>
    w3.includeHTML();
</script>

</body>
</html>