<!DOCTYPE html>
<html lang="en">
<script src="../static/lib/w3.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">

    <div class="menu" w3-include-html="../static/admin-menu.html"></div>

    <div class="content">
        <p class="log-bar">You are logged as Admin</p>
        <h2>Choose class to view:</h2>

        <form>
            {%for class in classes%}
            <input type="radio" name="class" value="{{ class.getId }}" required> {{ class.getClassName }}<br><br>
            {%endfor%}
            <button type="submit" formaction="remove-class" formmethod="post">Remove class</button>
            <button type="submit" formaction="edit-class" formmethod="post">Edit class</button>
        </form>

    </div>
</div>

<script>
    w3.includeHTML();
</script>

</body>

</html>