<form action="#">
    <input type="radio" name="mentor" value="#"> Aldona Dyngs<br><br>
    <input type="radio" name="mentor" value="#"> Mati Kowalski<br><br>
    <input type="radio" name="mentor" value="#"> Seba Nowak<br><br>
    <input type="radio" name="mentor" value="#"> Karyna Kuropatwa<br><br>
</form>