<!DOCTYPE html>
<html lang="en">
<script src="../static/lib/w3.js"></script>
    
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
    
<body>
    <div class="wrapper">
        
        <div class="menu" w3-include-html="../static/mentor/mentor-menu.html"></div>

        <div class="content">
            <p class="log-bar">You are logged as Mentor</p>
            <h2>Choose artifact to edit:</h2>

            <form>
                {%for artifact in artifacts%}
                <input type="radio" name="artifact" value="{{ artifact.getId }}"> {{ artifact.getName }}<br><br>
                {%endfor%}
                <button type="submit" formaction="edit-artifact" formmethod="post">Edit choosen artifact</button>
            </form>
            
        </div>
    </div>
    
    <script>
        w3.includeHTML();
    </script>
    
</body>
    
</html>