<!DOCTYPE html>
<html lang="en">
<script src="../static/lib/w3.js"></script>
    
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
    
<body>
    <div class="wrapper">
        
        <div class="menu" w3-include-html="../static/admin-menu.html"></div>

        <div class="content">
            <p class="log-bar">You are logged as Admin</p>
            <h2>Choose mentor to view:</h2>

            <form class="choose-form">
                {%for mentor in mentors%}
                <input type="radio" name="mentor" value="{{ mentor.getId }}" required> {{ mentor.getFullName }}<br><br>
                {%endfor%}
                <button type="submit" formaction="see-mentor" formmethod="post">See choosen mentor</button>
            </form>
            
        </div>
    </div>
    
    <script>
        w3.includeHTML();
    </script>
    
</body>
    
</html>